@*@model IEnumerable<BookManagement.Models.Book>*@
@model PagedList.IPagedList<BookManagement.Models.Book>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Index", "Books", FormMethod.Get))
{
    <p>
        Search Name: @Html.TextBox("Search_Data", ViewBag.FilterValue as string)
        <input type="submit" value="Find" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Tiêu đề", "Index", new { Sorting_Order = ViewBag.SortingName, Filter_Value = ViewBag.FilterValue })
        </th>
        <th>
            @Html.ActionLink("Tác giả", "Index", new { Sorting_Order = ViewBag.SortingAuthor, Filter_Value = ViewBag.FilterValue })
        </th>
        <th>
            @Html.ActionLink("Nhà Xuất Bản", "Index", new { Sorting_Order = ViewBag.SortingPublisher, Filter_Value = ViewBag.FilterValue })
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Year)*@
            Năm xuất bản
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Description)*@
            Tóm tắt
        </th>
        <th>sql
            @*@Html.DisplayNameFor(model => model.DataFile)*@
            File
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Authors)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publisher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFile)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
<br />

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, Page_No => Url.Action("Index",
    new { Page_No, Sorting_Order = ViewBag.CurrentSortOrder, Filter_Value = ViewBag.FilterValue }))
